@font-face {
   font-family: xwing-miniatures;
   src: url("fonts/xwing-miniatures.ttf");
}
@font-face {
   font-family: xwing-ships;
   src: url("fonts/xwing-miniatures-ships.ttf");
}
@font-face {
   font-family: kimberley-bl;
   src: url("fonts/kimberley_bl.ttf");
}
.xwing-symbols {
   font-family: xwing-miniatures;}
.xwing-ships {
   font-family: xwing-ships;}
.xwing-font-b  {
   font-family: kimberley-bl;}
   
 .move {
   color: black;
   background-color: black;
   font-family: xwing-miniatures;}
 .move-1 {color: green}
 .move-2 {color: white}
 .move-3 {color: red}
   
.xwing-attack  {color: red;}
.xwing-evade  {color: lightgreen;}
.xwing-hull  {color: gold;}
.xwing-shields {color: skyblue;}
.xwing-ps  {color: orange;}
.xwing-ps-upgrade  {
   color: orange;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
   
.xwing-btn-wrap   {
   white-space: normal;}